---
import StitchLayout from '../../layouts/StitchLayout.astro';
import ProjectList from '../../components/stitch/Projects.astro';
---

<StitchLayout title="Archivo de Proyectos — Ignace.dev">
    <div class="pt-24">
        <ProjectList />
    </div>
</StitchLayout>
