---
import Section from "@layouts/Section.astro";
import Chat from "@components/Chat.svelte";
import aboutImg from "@assets/me-sqr.jpg";
import maskImg from "@assets/mask-2.svg";

const mask = `url(${maskImg.src})`;
---

<Section id="about">
    <article class="about__wrapper">
        <Chat client:visible />
        <img src={aboutImg.src} alt="Ignacio Cerda" />
    </article>
</Section>

<style define:vars={{ mask }}>
    .about__wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        justify-items: center;
        isolation: isolate;
        padding: 6em 0;
    }

    .about__wrapper::after {
        content: "";
        background: var(--clr-black);
        position: absolute;
        inset: 0;
        z-index: -1;
        transform: skewY(-5deg);
    }

    @media (width <= 760px) {
        .about__wrapper {
            grid-template-columns: 1fr;
            padding: 3em 1em 3em;
        }

        img {
            order: -1;
            max-width: 280px;
        }
    }

    img {
        -webkit-mask-image: var(--mask);
        mask-image: var(--mask);

        -webkit-mask-size: contain;
        mask-size: contain;

        -webkit-mask-repeat: no-repeat;
        mask-repeat: no-repeat;

        -webkit-mask-position: center;
        mask-position: center;
    }
</style>
