---
import '../styles/global.css';
import '@fontsource-variable/space-grotesk';
import '@fontsource-variable/manrope';
import '@fontsource-variable/inter';

import Navbar from '../components/stitch/Navbar.astro';
import Footer from '../components/stitch/Footer.astro';

const { title = 'Ignace.dev — The Digital Architect' } = Astro.props;
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="bg-background text-on-surface font-body selection:bg-secondary selection:text-on-secondary min-h-screen flex flex-col"
    >
        <Navbar />
        <main class="grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
