---
const { href, openInNewTab = false, className } = Astro.props;
---

<a href={href} target={openInNewTab ? '_blank' : '_self'}>
    <slot />
</a>

<style>
    a {
        text-decoration: none;
        color: var(--deep-slate);
        font-weight: 500;
    }
</style>
